version: '3.9'

services:
  app:
    build: .
    command: npm run start:dev 
    ports:
      - "3000:3000"
      - "9229:9229"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
      
      - /app/node_modules

  db:
    image: mariadb:10.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
